.superInput {
    margin: 10px;
    background: #708e26;
    color: #ddff99;
}

.superInput:focus {
    outline: none;
    border: #ddff99 solid 2px;
}

.errorInput {
    background: #708e26;
    color: #ddff99;
    border: 2px solid #dc2a9f;
    outline: none;
    margin: 10px;
}

.error {
    color: #dc2a9f;
    height: 21px;
}
