.default {
    margin: 20px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #708e26;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.default:hover {
    transition: 1s ease-in-out;
    background: #ddff99;
}

.default:hover svg {
    stroke-dashoffset: -480;
}

.default span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.red {
    background: #dc2a9f;
    color: #ddff99;
}

.default:disabled {
    background-color: darkgray;
    color: #dc2a9f;
    cursor: auto;
}
